/* Clases auxiliares */
.row{
    width: 100%!important;
    margin: 0!important;   
}
div[class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

div[data-src]:hover {
    cursor: pointer;
}

#main{
    position: relative;    
}

.principal{
    width:  100%;
    max-width: 2400px;
}

.oculto{
    visibility:hidden;
    position: fixed !important;
}

#video_fondo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.estudiante{
    padding: 0;
}

/* Ventana modal */
.modal-dialog {
    max-width: 70%;
    margin: 50px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}
.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}

#myModal .modal-body{
    line-height: 0;
}

.modal-open .modal {
    display: flex!important;
    align-items: center!important;
}

.modal-open .modal  .modal-dialog {
    flex-grow: 1;
}
.row * {
    height: 100%;
}

#rotar_pantalla{
    width: 25px;
}


@media (orientation: landscape) {
    #rotar_pantalla {
        visibility: hidden;
        position: absolute;
    }
}

/* Relleno izquierda - derecha */
.relleno-i-1, .relleno-x-1{padding-left:  calc(1% * 1.19) !important;}
.relleno-d-1, .relleno-x-1{padding-right: calc(1% * 1.19) !important;}
.relleno-i-2, .relleno-x-2{padding-left:  calc(2% * 1.19) !important;}
.relleno-d-2, .relleno-x-2{padding-right: calc(2% * 1.19)!important;}
.relleno-i-3, .relleno-x-3{padding-left:  calc(3% * 1.19) !important;}
.relleno-d-3, .relleno-x-3{padding-right: calc(3% * 1.19)!important;}
.relleno-i-4, .relleno-x-4{padding-left:  calc(4% * 1.19) !important;}
.relleno-d-4, .relleno-x-4{padding-right: calc(4% * 1.19)!important;}
.relleno-i-5, .relleno-x-5{padding-left:  calc(5% * 1.19) !important;}
.relleno-d-5, .relleno-x-5{padding-right: calc(5% * 1.19)!important;}
.relleno-i-6, .relleno-x-6{padding-left:  calc(6% * 1.19) !important;}
.relleno-d-6, .relleno-x-6{padding-right: calc(6% * 1.19)!important;}
.relleno-i-7, .relleno-x-7{padding-left:  calc(7% * 1.19)!important;}
.relleno-d-7, .relleno-x-7{padding-right: calc(7% * 1.19)!important;}
.relleno-i-8, .relleno-x-8{padding-left:  calc(8% * 1.19)!important;}
.relleno-d-8, .relleno-x-8{padding-right: calc(8% * 1.19)!important;}
.relleno-i-9, .relleno-x-9{padding-left:  calc(9% * 1.19)!important;}
.relleno-d-9, .relleno-x-9{padding-right: calc(9% * 1.19)!important;}
.relleno-i-10, .relleno-x-10{padding-left:  calc(10% * 1.19)!important;}
.relleno-d-10, .relleno-x-10{padding-right: calc(10% * 1.19)!important;}
.relleno-i-11, .relleno-x-11{padding-left:  calc(11% * 1.19)!important;}
.relleno-d-11, .relleno-x-11{padding-right: calc(11% * 1.19)!important;}
.relleno-i-12, .relleno-x-12{padding-left:  calc(12% * 1.19)!important;}
.relleno-d-12, .relleno-x-12{padding-right: calc(12% * 1.19)!important;}

/* Altura de cajas*/
.alto-1{height: calc(1% * 1.51);}
.alto-2{height: calc(2% * 1.51);}
.alto-3{height: calc(3% * 1.51);}
.alto-4{height: calc(4% * 1.51);}
.alto-5{height: calc(5% * 1.51);}
.alto-6{height: calc(6% * 1.51);}
.alto-7{height: calc(7% * 1.51);}
.alto-8{height: calc(8% * 1.51);}
.alto-9{height: calc(9% * 1.51);}
.alto-10{height: calc(10% * 1.51);}
.alto-11{height: calc(11% * 1.51);}
.alto-12{height: calc(12% * 1.51);}